@import "@/shared/assets/scss/variables";
@import "@/shared/assets/scss/mixins";

.footer{
  margin-top: auto;

  &__inner{
    @include media-breakpoint-up(sm) {
      padding-top: 37px;
      padding-bottom: 32px;
    }

    @include media-breakpoint-down(sm) {
      padding-top: 17px;
      padding-bottom: 17px;
    }

    @include media-breakpoint-up(xxs) {
      border-top: 1px solid $light-gray;
    }
  }

  &__nav{
    display: flex;
    column-gap: 41px;
    row-gap: 21px;
    flex-wrap: wrap;
    margin-bottom: 14px;

    @include media-breakpoint-down(sm) {
      justify-content: center;
      margin-top: 40px;
    }

    @include media-breakpoint-down(xxs) {
      margin-top: 40px;
      row-gap: 8px;
      flex-direction: column;
    }

    &-link{
      font-weight: 400;

      @include media-breakpoint-up(xs){
        font-size: 16px;
        line-height: 1.69;
      }

      @include media-breakpoint-down(xs){
        font-size: 12px;
        line-height: 1.67;
      }
    }
  }

  &__subscribe{
    flex: 100%;
    max-width: 396px;

    @include media-breakpoint-down(sm){
      margin-left: auto;
      margin-right: auto;
    }


  }

  &__info{
    display: flex;

    @include media-breakpoint-up(sm){
      justify-content: space-between;
      align-items: center;
      column-gap: 41px;
    }

    @include media-breakpoint-down(sm) {
      flex-direction: column-reverse;
    }
  }

  &__social-copy{
    display: flex;
    justify-content: space-between;

    @include media-breakpoint-up(sm){
      margin-top: 40px;
    }

    @include media-breakpoint-down(sm) {
      flex-direction: column-reverse;
    }
  }

  &__social-links{
    display: flex;
    align-items: flex-start;

    @include media-breakpoint-down(sm) {
      justify-content: center;
      margin-top: 32px;
      gap: 8px;
    }

    @include media-breakpoint-down(xxs) {
      justify-content: left;
    }

    &-title{
      display: flex;
      align-items: baseline;
      font-weight: 400;
      font-size: 12px;
      line-height: 1.67;
      color: $black;
      gap: 15px;

      @include media-breakpoint-up(xs){
        display: none;
      }

      &:after{
        position: relative;
        display: block;
        content: "";
        width: 47px;
        height: 1px;
        background-color: $black;
        margin-left: 5px;
      }
    }

    &-list{
      display: flex;
      gap: 25px;

      @include media-breakpoint-down(sm) {
        gap: 16px;
      }
    }
  }

  &__social-link{
    width: 20px;
    height: 20px;

    @include media-breakpoint-down(xs){
      width: 12px;
      height: 12px;
    }
  }

  &__copyright{
    font-weight: 400;
    font-size: 16px;
    line-height: 1.67;
    color: $black;

    @include media-breakpoint-down(sm){
      margin-left: auto;
      margin-right: auto;
      margin-top: 36px;
    }

    @include media-breakpoint-down(xs) {
      font-size: 12px;
    }

    @include media-breakpoint-down(xxs) {
      margin-left: 0;
    }
  }
}
