@import "@/shared/assets/scss/variables";
@import "@/shared/assets/scss/mixins";

.footer{
  margin-top: auto;

  &__inner{
    padding-top: 37px;
    border-top: 1px solid $light-gray;
    padding-bottom: 32px;
  }

  &__nav{
    display: flex;
    column-gap: 41px;
    row-gap: 21px;
    flex-wrap: wrap;
  }

  &__subscribe{
    flex: 100%;
    max-width: 396px;
  }

  &__info{
    display: flex;
    justify-content: space-between;
  }

  &__social-copy{
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
  }

  &__social-links{
    display: flex;
    gap: 30px;
  }

  &__social-link{
    width: 20px;
    height: 20px;
  }

  &__copyright{
    font-weight: 400;
    font-size: 16px;
    line-height: 1.7;
    color: $black;
  }
}
