@import "@/shared/assets/scss/variables";

.base-tabs{
  border-bottom: 1px solid $light-gray;
  display: flex;
  gap: 49px;
  width: 100%;
  justify-content: flex-start;
  padding-bottom: 34px;

  &__tab{
    position: relative;
    font-weight: 400;
    font-size: 20px;
    line-height: 1.3;
    color: $dark-gray;
  }

  .router-link-active {
    color: $black;

    &:before{
      content: "";
      position: absolute;
      bottom: -35px;
      left: 0;
      width: 100%;
      height: 1px;
      background: $black;
      transition: background 0.3s ease;
    }
  }
}
