@import '@/shared/assets/scss/variables';

.dropdown {
  position: relative;
  width: 100%;
  display: flex;

  &__selected-option {
    max-height: 24px;
    overflow: hidden;
    cursor: pointer;
    flex: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    user-select: none;
    font-weight: 400;
    font-size: 16px;
    line-height: 27px;
    color: $light-gray;
  }

  &__img-block {
    max-width: 35px;
    max-height: 22px;
    min-width: 35px;
    min-height: 22px;
    margin-right: 10px;
    overflow: hidden;
    display: flex;
    align-items: center;

    svg {
      width: 100%;
      height: 100%;
    }
  }

  &__arrow {
    margin-right: 0;

    display: block;
    &-icon {
      transform: rotate(0deg);
      transition: transform 0.3s ease;
    }
  }

  &.open {
    .dropdown__arrow-icon {
      transform: rotate(-180deg);
    }
  }

  &__options-list {
    background-color: $white;
    border: 1px solid $light-gray;
  }

  &__option {
    padding: 10px;
    display: flex;
    align-items: center;
    cursor: pointer;
    transition: background-color 0.3s ease;

    &:hover {

    }
  }

  &_transparent {
    .dropdown__selected-option {
      cursor: pointer;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  }

  &_absolute {
    .dropdown__options-list {
      display: none;
      position: absolute;
      top: calc(100% + 1px);
      left: 0;
      width: 100%;
      z-index: 5;
    }
  }

  &:not(&_transparent) {

  }

  .dropdown__arrow {
    margin-left: 5px;
  }

  &.open .dropdown__options-list {
    display: block;
  }
}
