@import "@/shared/assets/scss/mixins";
@import "@/shared/assets/scss/variables";

.select{
  outline: none;

  .dropdown__selected-option{
    padding-bottom: 8px;
  }

  &-triger{
    height: 12px;
  }
}
