@import "@/shared/assets/scss/variables";
@import "@/shared/assets/scss/mixins";

.logo{
  @include media-breakpoint-up(sm){
    padding-left: 2px;
    max-width: 158px;
    max-height: 33px;
  }

  @include media-breakpoint-down(sm){
    max-width: 90px;
    max-height: 36px;
  }
}
