@import "@/shared/assets/scss/variables";
@import "@/shared/assets/scss/mixins";

.header{
  background: $white;
  position: sticky;
  top: 0;
  z-index: 10;

  &:before{
    content: "";
    position: absolute;
    left: 0;
    top: -2px;
    width: 100%;
    height: calc(100% + 2px);
    background: $white;
    transition: background 0.2s ease-in-out;
    z-index: -1;
  }

  @include media-breakpoint-up(sm){
    margin-top: 56px;
  }

  &__desktop{
    background: $white;

    @include media-breakpoint-down(sm){
      padding-top: 4px;
      padding-bottom: 4px;
    }
  }

  &__burger-button {
    @include media-breakpoint-up(sm) {
      display: none;
    }



    @include media-breakpoint-down(sm) {
      width: 44px;
      height: 44px;
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;
      background: none;
      border: none;
      position: relative;
      padding: 0;

      &-inner{
        width: 20px;
        height: 20px;
        position: relative;

        &::before,
        &::after,
        span {
          content: "";
          display: block;
          width: 100%;
          height: 2px;
          background-color: #333;
          transition: all 0.3s ease;
          position: absolute;
          right: 0;
        }

        &::before {
          top: 0;
        }

        span {
          top: 50%;
          transform: translateY(-50%);
        }

        &::after {
          bottom: 0;
          width: 14px;
        }
      }

      &.open {
        .header__burger-button-inner{
          &::before {
            transform: translate(-50%, 0) rotate(45deg);
            top: 50%;
            left: 50%;
          }

          &::after {
            transform: translate(-50%, 0) rotate(-45deg);
            top: 50%;
            left: 50%;
            width: 100%;
          }

          span {
            transform: translate(-50%, 0) scale(0);
          }
        }
      }
    }
  }


  .dropdown{
    display: none;
  }

  @include media-breakpoint-up(sm){
  &__border-bottom{
    .header__inner{
      border-bottom: 1px solid $light-gray;
    }

    .header__nav-item{

      &:hover{
        .dropdown{
          display: flex;
        }
      }

      > .router-link-active{
        &:after{
          pointer-events: none;
          content: "";
          display: block;
          position: absolute;
          bottom: -1px;
          left: 0;
          width: 100%;
          height: 2px;
          background: $black;
          transition: background 0.3s ease;
        }
      }

    }
  }
  }

  &__inner{
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__logo{
    display: flex;
  }

  &__nav{
    display: flex;
    align-items: center;
    justify-content: space-between;

    &-item{
      padding-bottom: 17px;
      padding-top: 17px;
      position: relative;

      &:before{
        content: "";
        display: block;
        position: absolute;
        bottom: -1px;
        left: 0;
        width: 100%;
        height: 2px;
        background: $black;
        opacity: 0;
        transition: background 0.3s ease;
      }
    }

    &-links{
      @include media-breakpoint-up(sm){
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 64px;
        height: 100%;
      }

      @include media-breakpoint-down(sm){
        display: none;
      }
    }

    &-line{
      @include media-breakpoint-up(sm){
        height: 17px;
        width: 1px;
        margin-left: 48px;
        margin-right: 48px;
        background: $dark-gray;
      }

      @include media-breakpoint-down(sm){
        display: none;
      }
    }

    &-buttons{
      display: flex;
      align-items: center;
      justify-content: space-between;

      @include media-breakpoint-up(sm){
        gap: 39px;
      }

      @include media-breakpoint-down(sm){
        gap: 3px;
      }
    }

    &-button{
      display: flex;
      justify-content: center;
      align-items: center;

      @include media-breakpoint-up(sm){
        max-width: 20px;
        max-height: 20px;
      }

      @include media-breakpoint-down(sm){
        width: 44px;
        height: 44px;

        .base-icon{
          max-width: 20px;
          max-height: 20px;
        }

        &.header__search-button, &.header__user-button{
          display: none;
        }
      }
    }
  }

  &__burger-menu{
    @include media-breakpoint-up(sm){
      display: none;
    }

    @include media-breakpoint-down(sm){
      padding-top: 50px;
      position: fixed;
      bottom: 0;
      left: -100%;
      width: 100vw;
      height: 100dvh;
      background: $white;
      overflow: auto;
      z-index: -1;
      transition: transform 0.3s ease-in-out;

      &.open{
        transform: translate(100%, 0);
        display: block;
      }

      &-inner{
        display: flex;
        flex-direction: column;
        gap: 30px;
      }

      &-links{
        display: flex;
        flex-direction: column;
        gap: 6px;
      }

      &-buttons{
        padding-top: 15px;
        border-top: 1px solid $light-gray;
        gap: 5px;
      }

      &-button{
        display: flex;
        align-items: center;
        justify-content: center;
        width: fit-content;
        height: 44px;
      }
    }
  }
}
