@import "@/shared/assets/scss/mixins";
@import "@/shared/assets/scss/variables";

.page__title{
  color: $black;
  text-align: center;
  font-size: clamp(20px, 4vw, 33px);

  @include media-breakpoint-up(xs){
    font-weight: 500;
    line-height: 43px;
  }

  @include media-breakpoint-down(xs){
    font-weight: 400;
    line-height: 26px;
  }
}

.page__title-description{
  font-weight: 400;
  font-size: clamp(12px, 2vw, 20px);
  color: $black;

  @include media-breakpoint-up(xs){
    line-height: 26px;
  }

  @include media-breakpoint-down(xs){
    font-weight: 400;
    line-height: 20px;
  }

  @include media-breakpoint-up(xxs){
    text-align: center;
  }
}

.forgot-password{
  @include media-breakpoint-up(sm){
    padding-top: 125px;
    padding-bottom: 250px;
  }

  @include media-breakpoint-down(sm){
    padding-top: 62px;
    padding-bottom: 96px;
  }

  &__inner{
    max-width: 561px;
    width: 100%;
    margin: 0 auto;
  }

  &__title{
    &-description{
      @include media-breakpoint-up(sm){
        margin-top: 39px;
      }

      @include media-breakpoint-down(sm){
        margin-top: 16px;
      }
    }
  }

  &__form{
    max-width: 500px;
    width: 100%;

    @include media-breakpoint-up(sm){
      margin: 76px auto 0;
    }

    @include media-breakpoint-down(sm){
      margin: 64px auto 0;
    }
  }

  &__submit{
    background: $black;
    color: $white;
    max-width: 500px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 4px;

    @include media-breakpoint-up(sm){
      margin-top: 96px;
      padding: 16px;
      font-weight: 700;
      font-size: 16px;
      line-height: 21px;
    }

    @include media-breakpoint-down(sm){
      margin-top: 24px;
      padding: 6px;
      font-weight: 400;
      font-size: 12px;
      line-height: 20px;
    }
  }
}
